bpjs-soap-client-nb/src/wsdl/localhost_10000/soap/bpjs.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://pegadaian.co.id/bpjs" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pegadaian.co.id/bpjs" targetNamespace="http://pegadaian.co.id/bpjs">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pegadaian.co.id/bpjs" version="1.0">

    <xs:complexType name="tagihan">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="tanggalTagihan" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="tanggalJatuhTempo" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="nilai" type="xs:decimal"/>
            <xs:element minOccurs="0" name="lunas" type="xs:boolean"/>
            <xs:element minOccurs="0" name="peserta" type="tns:peserta"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="peserta">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="nomer" type="xs:string"/>
            <xs:element minOccurs="0" name="nama" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="inquiryRequest">
        <xs:complexType>
            <xs:element minOccurs="0" name="idPelanggan" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="inquiryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="daftarTagihan">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="tagihan" type="tns:tagihan"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="paymentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="idTagihan" type="xs:string"/>
                <xs:element minOccurs="0" name="kodeLoket" type="xs:string"/>
                <xs:element minOccurs="0" name="userLoket" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="paymentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="id" type="xs:string"/>
                <xs:element minOccurs="0" name="kodeLoket" type="xs:string"/>
                <xs:element minOccurs="0" name="tagihan" type="tns:tagihan"/>
                <xs:element minOccurs="0" name="userLoket" type="xs:string"/>
                <xs:element minOccurs="0" name="waktuTransaksi" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="inquiryResponse">
    <wsdl:part element="tns:inquiryResponse" name="inquiryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="paymentRequest">
    <wsdl:part element="tns:paymentRequest" name="paymentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inquiryRequest">
    <wsdl:part element="tns:inquiryRequest" name="inquiryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="paymentResponse">
    <wsdl:part element="tns:paymentResponse" name="paymentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Bpjs">
    <wsdl:operation name="inquiry">
      <wsdl:input message="tns:inquiryRequest" name="inquiryRequest">
    </wsdl:input>
      <wsdl:output message="tns:inquiryResponse" name="inquiryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payment">
      <wsdl:input message="tns:paymentRequest" name="paymentRequest">
    </wsdl:input>
      <wsdl:output message="tns:paymentResponse" name="paymentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BpjsSoap11" type="tns:Bpjs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inquiry">
      <soap:operation soapAction=""/>
      <wsdl:input name="inquiryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="inquiryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payment">
      <soap:operation soapAction=""/>
      <wsdl:input name="paymentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="paymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BpjsService">
    <wsdl:port binding="tns:BpjsSoap11" name="BpjsSoap11">
      <soap:address location="http://localhost:10000/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>